.pc
autom4te.cache
config.guess.dh-orig
config.sub.dh-orig
configure
stamps
build
build-*

Demo
Doc
Grammar
Include
LICENSE
Lib
Mac
Makefile.pre.in
Misc
Modules
Objects
PC
PCbuild
Parser
Python
README
RISCOS
Tools
aclocal.m4
config.guess
config.sub
configure.ac
install-sh
pyconfig.h.in
setup.py

debian/.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/files

debian/idle-python2.7
debian/libpython2.7-dbg
debian/libpython2.7-dev
debian/libpython2.7-minimal
debian/libpython2.7-stdlib
debian/libpython2.7-testsuite
debian/libpython2.7
debian/python2.7-dbg
debian/python2.7-dev
debian/python2.7-doc
debian/python2.7-examples
debian/python2.7-minimal
debian/python2.7
debian/test_results
debian/tmp-dbg
debian/tmp-shdbg
debian/tmp

debian/README.Debian
debian/README.idle-python2.7
debian/README.maintainers
debian/README.python2.7
debian/idle-python2.7.1
debian/idle-python2.7.overrides
debian/idle-python2.7.postinst
debian/idle-python2.7.postrm
debian/idle-python2.7.prerm
debian/idle.desktop
debian/libpython.symbols
debian/libpython2.7-dbg.overrides
debian/libpython2.7-dbg.postinst
debian/libpython2.7-dbg.prerm
debian/libpython2.7-dbg.symbols
debian/libpython2.7-dev.overrides
debian/libpython2.7-minimal.overrides
debian/libpython2.7-minimal.postinst
debian/libpython2.7-minimal.postrm
debian/libpython2.7-minimal.prerm
debian/libpython2.7-stdlib.overrides
debian/libpython2.7-stdlib.prerm
debian/libpython2.7-testsuite.overrides
debian/libpython2.7-testsuite.prerm
debian/libpython2.7.overrides
debian/libpython2.7.symbols
debian/multiarch.h
debian/patches/series
debian/pdb.1
debian/pydoc.1
debian/python2.7-dbg.README.Debian
debian/python2.7-dbg.overrides
debian/python2.7-dbg.postinst
debian/python2.7-dbg.prerm
debian/python2.7-doc.doc-base.python2.7-api
debian/python2.7-doc.doc-base.python2.7-dist
debian/python2.7-doc.doc-base.python2.7-ext
debian/python2.7-doc.doc-base.python2.7-inst
debian/python2.7-doc.doc-base.python2.7-lib
debian/python2.7-doc.doc-base.python2.7-new
debian/python2.7-doc.doc-base.python2.7-ref
debian/python2.7-doc.doc-base.python2.7-tut
debian/python2.7-doc.overrides
debian/python2.7-examples.overrides
debian/python2.7-minimal.README.Debian
debian/python2.7-minimal.overrides
debian/python2.7-minimal.postinst
debian/python2.7-minimal.postrm
debian/python2.7-minimal.preinst
debian/python2.7-minimal.prerm
debian/python2.7.desktop
debian/python2.7.overrides
debian/python2.7.postinst
debian/python2.7.prerm
debian/sitecustomize.py
